.movie-details-page{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}
.backgrounder-poster{
    width: 55%;
    left: 50;
    transform: translate(-50,0);
    margin: 10px;
    border-radius: 12px;
    /* box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.4); */
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: cover;
    z-index: 1;
}

.movies-details{
    z-index: 20;
    color: rgb(3, 3, 3);
    width: 70%;
    margin: auto;
}
.movies-details p{
    width: 80%;
}
.movies-details h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dynamic-island{
    width: 50px;
    height: 150px;
    background-color: black;
    position: absolute;
    border-radius: 12px 0px 0px 12px;
    left: 100%;
    top:50%;
    transform: translate(-100%,-50%);
}