body{
    background-color: #282c34;
}
.registerContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    
}
.page-heading{
    color: black;
}
.login-heading{
    font-size: 18px;
    color: black;
}
.nameForm{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    margin: 0px;
    background-color: rgb(236, 233, 233);
    border-radius: 12px;
}
.nameForm input{
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    /* outline: none; */
    outline-style: hidden;
    border: none;
}