@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    /* font-family: fira Code; */
}
body{
    background: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px ;
    padding: 0px;
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
